---
import Layout from '~/layouts/PageLayout.astro';

import type { MetaData } from '~/types';
// import Header from '~/components/widgets/Header.astro';

export interface Props {
  frontmatter: {
    title?: string;
    pageTitle?: string;
    description?: string;  
  };
}

const { frontmatter } = Astro.props;

const metadata: MetaData = {
  title: frontmatter?.pageTitle || frontmatter?.title,
  description: frontmatter?.description || frontmatter?.title,
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <!-- <Header showToggleTheme /> -->
  </Fragment>
  <div class="w-full">
    <slot name="banner">
      <img src="/course/00.png" alt="Course banner" class="w-full max-w-screen-xl mx-auto h-[24rem] object-cover">
    </slot>
  </div>
  <section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-4xl">
    <h1 class="font-bold font-heading text-4xl md:text-4xl leading-tighter tracking-tighter tracking-wide">{frontmatter.title}</h1>
    <div
      class="mx-auto prose max-w-4xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-blue-600 dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8"
    >
      <slot />
    </div>
  </section>
</Layout>
